/* Turing CSS */
/* By Mistrza */

body {
    color: #333;
    font-family: "Courier New", monospace;
    font-weight: bold;
    text-decoration-skip: none;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, li, .cm-s-inner, .footnote-line {
    font-size: 14px;
}

h1, h2 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h1:not(:first-of-type), h2, h3, em, th, .cm-keyword {
    text-decoration: underline;
}

h1:first-of-type + p {
    text-align: center;
}

blockquote, strong {
    color: darkblue;
}

blockquote {
    margin-left: 30px;
    margin-right: 30px;
}

a, .footnote-line {
    color: #333;
}

em, strong {
    font-style: normal;
}

ul, ol {
	padding-left: inherit;
	padding-right: 1em;
}

ul {
    list-style-type: square;
}

#write {
    max-width: 60em;
}

#footer p {
    border-top: 2px solid #333;
    margin-top: 10px;
}

/* Codes */

.cm-s-inner {
    border-left: 2px solid #333;
    padding-left: 1em;
}

.cm-s-inner * {
    font-family: "Courier New", monospace !important;
    color: #333 !important;
}

/* Numbering */

h1 {
    counter-reset: h2;
}

h2 {
    counter-reset: h3;
}

h3 {
    counter-reset: h4;
}

#write h2:before {
    counter-increment: h2;
    content: counter(h2) ". ";
}

#write h3:before {
    counter-increment: h3;
    content: counter(h2) ". " counter(h3) ". ";
}

#write h4:before {
    counter-increment: h4;
    content: counter(h2) ". " counter(h3) ". " counter(h4) ". ";
}

/* Table of contents */

.md-toc-h1 {
    display: none;
}

.md-toc-inner {
    text-decoration: none;
    margin: 0 !important;
    display: inline;
}

.md-toc-content {
    counter-reset: h2toc;
}

.md-toc-h2 {
    counter-reset: h3toc;
}

.md-toc-h3 {
    counter-reset: h4toc;
}

.md-toc-h2:before, .md-toc-h3:before, .md-toc-h4:before {
    color: #333;
}

.md-toc-h2:before {
    counter-increment: h2toc;
    content: counter(h2toc) ". ";
}

.md-toc-h3:before {
    color: black;
    counter-increment: h3toc;
    content: counter(h2toc) ". " counter(h3toc) ". ";
}

.md-toc-h4:before {
    color: black;
    counter-increment: h4toc;
    content: counter(h2toc) ". " counter(h3toc) ". " counter(h4toc) ". ";
}
